.navbar {
    background-color: white;
    position: fixed; /* to make navigation bar fixed */
    top: 0;
    width: 100%;
    /* navigation bar to be wide trough the whole page */
}


.navbar li {
    display: inline-block; /* navigation lines to be lined nex to eachother not belowe each other */
    padding: 0 20px;
}


.navbar a {
    text-decoration: none;
    color: black;
}


.banner {
    background-color: black;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding: 100px; 0;
}


#small-tea {
    height: 200px;
    width: 200px;
    filter: drop-shadow(1px 1px 1px blue);
}

.gritter-section {
    padding: 20px 50px;
}


#gritter {
    color: black;
    font-size: 100px;
}


#greets ul {
    list-style-type: none;
}

.avatar {
    background-image: url('../images/IMG_3352.JPG');   /* that is the code to write when you wanna immage that you already used to use again */
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;             /* to make it as circyle */
    display: inline-block;               /* to have them next to the picture inlined and in center */
    vertical-align: middle;             /* to have them next to the picture inlined and in center */
}

.bold {
    font-weight: 900;
}


a.blue {       /* allways put an a.nameoftheclass to style and ancor */
    color: blue;
}